/* css reset*/

:root {
  --blue: #0045a9;
  --grey: #c6c6c6;
  --valid: #1ada00;
  --invalid: #ff1c1c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}

html,
body {
  height: 100%;
  position: relative;
}

/* mobile layout */

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  color: var(--blue);
  position: absolute;
  top: 20px;
  left: 18px;
  font-size: 1.9rem;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.link {
  position: absolute;
  bottom: 40px;
}

.link a {
  text-decoration: none;
  color: var(--blue);
}

.form-container {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: var(--blue);
}

.form-header {
  font-size: 2rem;
  color: #ffffff;
  width: 400px;
  margin: auto;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  height: 35px;
  color: var(--grey);
  border: 1px solid var(--grey);
  padding-left: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  margin: auto;
  margin-top: 30px;
}

.msg {
  margin-top: 5px;
  padding-left: 5px;
  height: 40px;
  max-height: 40px;
}

::placeholder {
  color: var(--grey);
}

.my-form label {
  color: #ffffff;
  padding-bottom: 10px;
  font-size: 1rem;
}

.email,
.password,
.password-confirm {
  min-width: 100%;
}

.name {
  width: 100%;
}

.create-account-btn {
  width: 100%;
  font-size: 1rem;
  padding: 15px;
  color: var(--blue);
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-bottom: 15px;
}

.btn-container {
  width: 100%;
  margin-top: 20px;
}

.create-account-btn:hover {
  color: #ffffff;
  background-color: var(--blue);
  border: 1px solid #ffffff;
}

.btn-container:last-child {
  color: var(--grey);
  text-align: center;
}

#password,
#password-confirm {
  font-size: 1.3rem;
}

.msg.valid {
  color: var(--valid);
}

.msg.invalid {
  color: var(--invalid);
}

.required-border {
  border: 1px solid var(--invalid);
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* desktop layout */

@media (min-width: 700px) {
  main {
    flex-direction: row;
  }

  .img-container {
    width: 40%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  img {
    width: 520px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .link {
    bottom: 30px;
  }

  /* form elements */

  .form-container {
    width: 60%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-header {
    font-size: 2.2rem;
    width: 700px;
    margin-top: 50px;
    padding-left: 10px;
    text-align: left;
  }

  .my-form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
  }

  .name {
    width: 48%;
  }

  .btn-container {
    margin-top: 10px;
  }
}
