/* CSS RESET */

:root {
    --blue: #0045A9;
    --grey: #C6C6C6;
    --valid: #1ADA00;
    --invalid: #FF1C1C;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
  }


/* MOBILE LAYOUT */


  /* DESKTOP LAYOUT */

  @media only screen and (min-width: 768px) {

    html, body {
        height: 100%;
        position: relative;
      }
    

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    /* LEFT HAND HERO SIDE*/

    .img-container {
        position: relative;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    img {
        max-width: 500px;
        height: auto;
        padding-top: 0;
        width: calc(90%);
    }

    .title {
        color: var(--blue);
        position: absolute;
        top: 20px;
        left: 18px;
        font-size: 1.8rem;
    }

    .link {
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
    }

    .link a {
        text-decoration: none;
        color: var(--blue);
    }


    /* FORM SIDE */


    .form-container {
        width: 60%;
        height: 100%;
        background-color: var(--blue);
    }

    .form-header {
        font-size: 2.5rem;
        color: #ffffff;
        width: 700px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .my-form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 700px;
        margin: auto;
    }

   .input-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 16px;
   }

   input {
    height: 35px;
    color: var(--grey);
    padding-left: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    background-color: transparent;
   }

   ::placeholder {
    color: var(--grey);
   }

   .my-form label {
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 1.2rem;
}

   .email, .password, .password-confirm {
       min-width: 100%;
  }

  .name {
    min-width: 50%;
  }

  .create-account-btn {
    width: 100%;
    font-size: 1rem;
    padding: 15px;
    color: var(--blue);
    border-radius: 5px;
    border: none;
  }

  .btn-container {
    width: 100%;
    padding: 10px;
  }

  .create-account-btn:hover {
      color: #ffffff;
      background-color: var(--blue);
      border: 1px solid #ffffff;
  }

  #password, #password-confirm {
    font-size: 1.3rem;
  }

  .valid {
    color: var(--valid)
  }

  .invalid {
    color: var(--invalid)
  }
  

}

